body {
  font-family: 'Lato, 'sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://images.unsplash.com/photo-1537210249814-b9a10a161ae4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=felix-mittermeier-L4-16dmZ-1c-unsplash.jpg&w=2400");
  background-repeat: no-repeat;
  background-size: cover;
}


body,
input {
  font-family: "Lato", sans-serif;
}

:root {
  --border-color: #ffffff80;
  --card-bkg-color: #00000080;
  --btn-bkg-danger: #e63946;
  --btn-bkg-danger-hover: #7F1019;
}
